@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
}

body {
    width: 100%;
    height: 100%;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/14484827-estudio-de-tatuagem-ou-salao-de-beleza-interior-sala-vazia-gratis-vetor.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-position-y: -100px;
    background-position-x: -100px;
}

/*banner*/
.logo {
    width: 50px;
    height: 50px;
}

.divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    width: 100%;
    height: 100%;
    background-color: #00000085;
    position: relative;
}

.titulo {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.678);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -140px;
    width: 60%;
    height: 100%;
    -webkit-transform: skew(-30deg);
}

.textoTitulo {
    position: absolute;
    z-index: 1;
    left: 0;
    margin-left: 20px;
    border-left: #7d00c5 solid 30px;
    padding: 15px;
    text-transform: capitalize;
    color: #7d00c5;

}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.3rem;
}

.contato {
    padding: 10px;
    width: 60%;
    position: absolute;
    right: 0;
    height: 30%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.social {
    padding: 20px;
    padding-top: 25px;
    margin: 10px;
    height: 40%;
    width: 20%;
    text-align: center;
    color: white;
    border-radius: 100px;
    font-size: 1rem;
    text-decoration: none;
}

.social:hover {
    transform: scale(1.05);
    transition: 0.2s;
    background-color: #39005a;
    cursor: pointer;
    color: white;
}

.fac {
    background-color: #0f118f;
}

.ins {
    background-color: #da11bf;
}

.wpp {
    background-color: #099410;
}

.trabalhos {
    background-color: #f3f2f2;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 30px;
    position: relative;
}

.l1 {
    padding: 0px;
    width: 210px;
    height: 210px;
    margin: 5px;
    position: relative;
}


.imgT {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.textT {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: #000000c5;
    padding: 8px;
    color: white;
    font-size: 0.8rem;
    border-left: #7d00c5 8px solid;
}

.textFuro {
    font-size: 0.9rem;
}

h1.tituloT {
    font-size: 2.3rem;
    color: #7d00c5;
    margin-top: 30px;
}

.ls-collapse {
    width: 90%;
    padding: 30px;
}

.ls-collapse-title {
    color: #6e00ae;
    font-size: 1.3rem;
    border-left: 6px solid #6e00ae;
    padding: 7px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.ls-theme-gray .ls-collapse .ls-collapse-header::before,
html .ls-collapse .ls-collapse-header::before {
    color: #6e00ae;
    border: 3px solid #6e00ae;
}

.l1 {
    padding: 0px;
    width: 190px;
    height: 190px;
    margin-left: 0px;
    position: relative;
}

.ls-table {
    width: 90%;
}

th {
    color: #6b0dbd;
}

.disponivel {
    color: #00ba09;
}

.indisponivel {
    color: #e80000;
}

.ls-steps {
    width: 90%;
}

.tFuro {
    color: #6b0dbd;
}

.ls-theme-gray .ls-steps-nav .ls-actived.ls-active .ls-steps-btn::before,
html .ls-steps-nav .ls-actived.ls-active .ls-steps-btn::before {
    background: #6b0dbd;
    border-color: #00000000;
}

.ls-theme-gray .ls-steps-nav .ls-active .ls-steps-btn:before,
html .ls-steps-nav .ls-active .ls-steps-btn:before {
    background: #6b0dbd;
    border-color: #00000000;
}

.ls-theme-gray .ls-steps-nav .ls-actived:not(.ls-active):after,
html .ls-steps-nav .ls-actived:not(.ls-active):after {
    color: #6b0dbd;
}

.precos {
    background-color: #f3f2f2;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    background-size: cover;
    background-repeat: repeat;
    margin: 0px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding-bottom: 100px;
}


.l2 {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    width: 400px;
    height: 500px;
    margin-top: 30px;
    position: relative;
    margin-top: 50px;
    box-shadow: 0px 0px 15px 4px rgba(101, 4, 228, 0.664);
}

.bola {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    height: 90%;
    width: 100%;
    background: linear-gradient(0deg, rgb(209, 0, 199) 0%, rgba(129, 0, 218, 1) 100%);
    border-bottom-right-radius: 100%;
}

.bolaB {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 30%;
    height: 25%;
    background: linear-gradient(0deg, rgb(0, 204, 10) 0%, rgb(199, 253, 2) 100%);
    border-top-left-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bolaB:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.h2B {
    color: white;
    text-align: center;
    font-size: 2.9rem;
    margin-left: 30px;
    margin-top: 40px;
}

.h1Bola {
    color: #ffffff;
    font-size: 2.2rem;
    border-left: 7px solid #ffffff;
    padding-left: 10px;
}

.h2Preco {
    color: #e9e9e9;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.h1Preco {
    color: #ffffff;
    font-size: 3.5rem;
}

footer {
    padding: 0px;
    background-color: rgb(61, 0, 102);
    margin-top: 30px;
    color: white;
    position: relative;
    height: auto;
    padding-top: 10px;
    margin-top: 0px;
}

.container {
    margin-top: 50px;
}

.header {
    width: 100%;
    padding: 20px;
    padding-bottom: 1px;
    background: linear-gradient(to right, rgb(61, 0, 102) 0%, rgb(103, 0, 187) 50%, rgb(96, 0, 131)) 100%;
}

.logoFooter {
    width: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.pFooter {
    font-size: 0.9rem;
    margin-bottom: 0px;
}

.iContat {
    font-size: 2.1rem;
    margin: 10px;
    color: white;
}

.iContat:hover {
    transition: 0.3s;
    color: #5d0092;
}

.bodyp {
    margin-bottom: -20px;
}

/*navbar*/
.navbar {
    background-color: #7d00c5;
    box-shadow: 0px 0px 10px 1px rgb(46, 46, 46);
}

.navbar .navbar-brand {
    color: #ecf0f1;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #27000c;
}

.navbar .navbar-text {
    color: #ecf0f1;
}

.navbar .navbar-text a {
    color: #27000c;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #27000c;
}

.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
    font-size: 0.9rem;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #27000c;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #27000c;
    background-color: #7c1e2b;
}

.navbar .navbar-toggler {
    border-color: #03030300;
}

.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
    background-color: #3f3f3f00;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    color: #ecf0f1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}

.navbar .navbar-link {
    color: #ecf0f1;
}

.navbar .navbar-link:hover {
    color: #27000c;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #27000c;
    }

    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #27000c;
        background-color: #7c1e2b;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #27000c;
    }

    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #27000c;
        background-color: #7c1e2b;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #27000c;
    }

    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #27000c;
        background-color: #7c1e2b;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #27000c;
    }

    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #27000c;
        background-color: #7c1e2b;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #27000c;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #27000c;
    background-color: #7c1e2b;
}

@media (max-width: 767px) {
    .titulo {
        display: none;
    }

    .textoTitulo {
        border-left: #7d00c5 solid 15px;
        padding: 10px;
        padding-left: 10px;
        margin-top: -200px;
        color: white;
    }

    h1 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1rem;
    }

    .contato {
        left: 0;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .social {
        font-size: 0.8rem;
        height: 20%;
        width: 90%;
        padding: 13px;
        margin-top: 0px;
    }

    .ls-collapse {
        padding: 20px;
    }

    .ls-collapse-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ls-collapse-title {
        font-size: 1.2rem;
    }

    .l1 {
        width: 150px;
        height: 150px;
    }

    .l2 {
        height: 350px;
        width: 80%;
        margin-bottom: -20px;
    }

    .bola {
        width: 95%;
        height: 75%;
        border-bottom-right-radius: 100%;
        padding-bottom: 300px;
    }

    .bolaB {
        width: 90px;
        height: 90px;
    }

    .h2B {
        font-size: 2.2rem;
        margin-top: 18px;
        margin-right: 10px;
    }

    .h1Bola {
        font-size: 1.4rem;
    }

    .h2Preco {
        font-size: 1rem;
    }

    .h1Preco {
        font-size: 2.2rem;
    }

    .logoFooter {
        width: 70px;
        margin-top: 20px;
    }

    .iContat {
        font-size: 2rem;
        margin: 6px;
    }

    .pFooter {
        font-size: 0.8rem;
    }


}